@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: #111111;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 4%;
}

.footer-logo-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5%;
}

.solana-logo {
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: #111111;
  width: 95vw;
  height: 95vh;
  /* border-radius: 1.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); */
}
.cont {
}

.sign {
  text-align: center;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.center {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  padding-top: 50px;
  text-align: center;
}

/* .walletButtons {
  align-content: stretch;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 6vh !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  border: 1px solid #9945ff !important;
  background-color: transparent !important;
  padding: 10px 20px !important;
  margin-bottom: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  margin-bottom: 27px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: #9945ff !important;
  text-decoration: none;
  border-radius: 6px;
} */

.web3auth {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid #9945ff !important;
  background-color: #9945ff !important;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  /* margin-left: 46px; */
  text-align: center;
  margin-bottom: 20px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  height: 6vh !important;
}

.signature,
.publicKey {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  width: 76%;
  color: #fff;
  letter-spacing: 1px;
  background: #1a1f2e;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-left: 46px;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 30%;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 10px;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 27px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

p {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #fff;
  text-decoration: none;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}
.tooltip {
  visibility: hidden;
  position: absolute;
}
.solanaButton {
  border-radius: 8px;
  border: 1px solid #4ffffa;
  background: linear-gradient(
    111deg,
    rgba(0, 25, 17, 0.86) 37.85%,
    rgba(9, 1, 12, 0.86) 80%,
    rgba(63, 15, 76, 0.86) 115.8%
  );
  padding: 0px 12px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solanaButton:hover {
  border: 1px solid #fd87ff;
  background: linear-gradient(
    93deg,
    #14ecab 0%,
    #c03cf4 53.86%,
    #db5cff 99.62%
  );
}
.solanaButton:active {
  border-radius: 8px;
  border: 1px solid #fd87ff;
  background: linear-gradient(
    93deg,
    #0e8863 0%,
    #5f137d 53.86%,
    #68177e 99.62%
  );
}
.solConnectButton:active .solanaButton {
  border-radius: 8px;
  border: 1px solid #fd87ff;
  background: linear-gradient(
    93deg,
    #0e8863 0%,
    #5f137d 53.86%,
    #68177e 99.62%
  );
}
.solConnectButton:hover .solanaButton {
  border-radius: 8px;
  border: 1px solid #fd87ff;
  background: linear-gradient(
    93deg,
    #0e8863 0%,
    #5f137d 53.86%,
    #68177e 99.62%
  );
}
